# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore server SSH settings
.idea/ssh*.xml

.idea/
.idea/workspace.xml
/core/
/libraries/
/modules/contrib/
/modules/README.txt
/profiles/
/sites/
/themes/contrib/
/themes/README.txt
/vendor/

/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json

/.ht.router.php
/.htaccess
/autoload.php
/composer.json
/composer.lock
/example.gitignore
/index.php
/INSTALL.txt
/LICENSE.txt
/README.md
/README.txt
/robots.txt
/update.php
/web.config
